# Import Statements

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import metrics

# Read the datasets

### Previously completed dataset

In [2]:
#labeled dataset for classification
data = pd.read_csv("project_data (1).csv")
data = data.set_index('Countries')
data

,Happiness Score,Household Size,Income Per Capita,Percent Urban,Births Per 1000,Deaths Per 1000,Life Expectancy at Birth,Percent Young (<15),Percent Old (>65),Infant Mortality Rate,Fertility Rate,Target Class
Countries,,,,,,,,,,,,
Afghanistan,3.575,8.0,2240,0.26,33,6,65,0.43,0.03,50.0,4.5,2
Albania,4.959,3.7,13820,0.61,10,8,79,0.17,0.14,8.9,1.8,2
Angola,4.033,4.8,6780,0.63,44,9,61,0.48,0.02,66.0,6.1,2
Argentina,6.574,3.3,22470,0.92,17,8,78,0.24,0.12,8.8,2.3,1
Armenia,4.350,3.5,13190,0.64,12,9,76,0.20,0.12,6.0,1.6,2
...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,6.485,2.8,20590,0.95,13,9,78,0.20,0.14,6.5,1.8,1
Uzbekistan,6.003,5.1,7110,0.51,23,5,75,0.29,0.05,11.0,2.5,1
Vietnam,5.360,3.9,7230,0.34,16,6,74,0.23,0.08,14.0,2.1,1
Zambia,5.129,5.0,3500,0.44,37,6,64,0.44,0.02,42.0,4.7,1
Zimbabwe,4.610,4.0,3350,0.32,33,8,61,0.42,0.03,47.0,3.9,2

### New datasets

In [3]:
gender_dev = pd.read_csv("gender_development_index.csv")
gender_eq = pd.read_csv("gender_inequality_index.csv")
enroll_tertiary_edu = pd.read_csv("gross-enrollment-ratio-in-tertiary-education.csv")
literacy = pd.read_csv("literacy-rate-by-country.csv")
school_life = pd.read_csv("school-life-expectancy-from-primary-to-tertiary-education.csv")
cmplt_post_sec = pd.read_csv("share-of-the-population-with-a-completed-post-secondary-education.csv")
cmplt_tertiary = pd.read_csv("share-of-the-population-with-completed-tertiary-education.csv")
human_freedom = pd.read_csv("human-freedom-index-2019.csv")
press_freedom = pd.read_csv("press_freedom_index.csv")
economic_freedom = pd.read_csv("economic_freedom_index.csv")
trust_in_govt = pd.read_csv("share-who-trust-government.csv")

# Transform and combine the datasets

In [4]:
#Gross enrollment in tertiary education ratio of population

#selects the maximum value for each country
enroll_tertiary_edu = enroll_tertiary_edu.groupby('Countries').max()
#only keeps the relevant column
enroll_tertiary_edu = enroll_tertiary_edu[['Gross enrolment ratio, tertiary']]
enroll_tertiary_edu

                     Gross enrolment ratio, tertiary
Countries
Afghanistan                                 8.662800
Albania                                    62.706848
Algeria                                    34.593811
Angola                                      9.923570
Antigua and Barbuda                        23.486240
...                                              ...
Vietnam                                    30.477739
World                                      34.453060
Yemen                                      11.131560
Zambia                                      2.247310
Zimbabwe                                    5.905600

[218 rows x 1 columns]

In [5]:
#combines with the dataset
mod_data = pd.concat([data, enroll_tertiary_edu],axis=1).dropna()
mod_data

,Happiness Score,Household Size,Income Per Capita,Percent Urban,Births Per 1000,Deaths Per 1000,Life Expectancy at Birth,Percent Young (<15),Percent Old (>65),Infant Mortality Rate,Fertility Rate,Target Class,"Gross enrolment ratio, tertiary"
Afghanistan,3.575,8.0,2240.0,0.26,33.0,6.0,65.0,0.43,0.03,50.0,4.5,2.0,8.662800
Albania,4.959,3.7,13820.0,0.61,10.0,8.0,79.0,0.17,0.14,8.9,1.8,2.0,62.706848
Angola,4.033,4.8,6780.0,0.63,44.0,9.0,61.0,0.48,0.02,66.0,6.1,2.0,9.923570
Argentina,6.574,3.3,22470.0,0.92,17.0,8.0,78.0,0.24,0.12,8.8,2.3,1.0,79.986702
Armenia,4.350,3.5,13190.0,0.64,12.0,9.0,76.0,0.20,0.12,6.0,1.6,2.0,51.001419
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,6.485,2.8,20590.0,0.95,13.0,9.0,78.0,0.20,0.14,6.5,1.8,1.0,64.605240
Uzbekistan,6.003,5.1,7110.0,0.51,23.0,5.0,75.0,0.29,0.05,11.0,2.5,1.0,17.201700
Vietnam,5.360,3.9,7230.0,0.34,16.0,6.0,74.0,0.23,0.08,14.0,2.1,1.0,30.477739
Zambia,5.129,5.0,3500.0,0.44,37.0,6.0,64.0,0.44,0.02,42.0,4.7,1.0,2.247310
Zimbabwe,4.610,4.0,3350.0,0.32,33.0,8.0,61.0,0.42,0.03,47.0,3.9,2.0,5.905600

In [6]:
#Literacy rate

#selects the maximum value for each country
literacy = literacy.groupby('Country').max()
#only keeps the relevant column
literacy = literacy[['Literacy Rate']]
literacy

                   Literacy Rate
Country
Afghanistan                 28.1
Albania                     96.8
Algeria                     72.6
American Samoa              97.0
Andorra                    100.0
...                          ...
Vietnam                     93.4
Wallis and Futuna           50.0
Yemen                       65.3
Zambia                      61.4
Zimbabwe                    83.6

[215 rows x 1 columns]

In [7]:
#combines the datasets
mod_data = pd.concat([mod_data, literacy],axis=1).dropna()
mod_data

,Happiness Score,Household Size,Income Per Capita,Percent Urban,Births Per 1000,Deaths Per 1000,Life Expectancy at Birth,Percent Young (<15),Percent Old (>65),Infant Mortality Rate,Fertility Rate,Target Class,"Gross enrolment ratio, tertiary",Literacy Rate
Afghanistan,3.575,8.0,2240.0,0.26,33.0,6.0,65.0,0.43,0.03,50.0,4.5,2.0,8.662800,28.1
Albania,4.959,3.7,13820.0,0.61,10.0,8.0,79.0,0.17,0.14,8.9,1.8,2.0,62.706848,96.8
Angola,4.033,4.8,6780.0,0.63,44.0,9.0,61.0,0.48,0.02,66.0,6.1,2.0,9.923570,70.4
Argentina,6.574,3.3,22470.0,0.92,17.0,8.0,78.0,0.24,0.12,8.8,2.3,1.0,79.986702,97.9
Armenia,4.350,3.5,13190.0,0.64,12.0,9.0,76.0,0.20,0.12,6.0,1.6,2.0,51.001419,99.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,6.485,2.8,20590.0,0.95,13.0,9.0,78.0,0.20,0.14,6.5,1.8,1.0,64.605240,98.1
Uzbekistan,6.003,5.1,7110.0,0.51,23.0,5.0,75.0,0.29,0.05,11.0,2.5,1.0,17.201700,99.4
Vietnam,5.360,3.9,7230.0,0.34,16.0,6.0,74.0,0.23,0.08,14.0,2.1,1.0,30.477739,93.4
Zambia,5.129,5.0,3500.0,0.44,37.0,6.0,64.0,0.44,0.02,42.0,4.7,1.0,2.247310,61.4
Zimbabwe,4.610,4.0,3350.0,0.32,33.0,8.0,61.0,0.42,0.03,47.0,3.9,2.0,5.905600,83.6

In [8]:
#School life expectancy

#selects the maximum value for each country
school_life = school_life.groupby("Country")
school_life = school_life.max()
#only keeps the relevant column
school_life = school_life[["School life expectancy, primary to tertiary, both sexes (years)"]]
school_life

                     School life expectancy, primary to tertiary, both sexes (years)
Country
Afghanistan                                                  10.771160
Albania                                                      15.800480
Algeria                                                      14.357780
Angola                                                       10.350370
Antigua and Barbuda                                          14.385560
...                                                                ...
Vietnam                                                      10.260810
World                                                        12.151099
Yemen                                                         8.989500
Zambia                                                        8.112810
Zimbabwe                                                     11.637680

[220 rows x 1 columns]

In [9]:
#Combines the datasets
mod_data = pd.concat([mod_data,school_life],axis=1).dropna()
mod_data

,Happiness Score,Household Size,Income Per Capita,Percent Urban,Births Per 1000,Deaths Per 1000,Life Expectancy at Birth,Percent Young (<15),Percent Old (>65),Infant Mortality Rate,Fertility Rate,Target Class,"Gross enrolment ratio, tertiary",Literacy Rate,"School life expectancy, primary to tertiary, both sexes (years)"
Afghanistan,3.575,8.0,2240.0,0.26,33.0,6.0,65.0,0.43,0.03,50.0,4.5,2.0,8.662800,28.1,10.77116
Albania,4.959,3.7,13820.0,0.61,10.0,8.0,79.0,0.17,0.14,8.9,1.8,2.0,62.706848,96.8,15.80048
Angola,4.033,4.8,6780.0,0.63,44.0,9.0,61.0,0.48,0.02,66.0,6.1,2.0,9.923570,70.4,10.35037
Argentina,6.574,3.3,22470.0,0.92,17.0,8.0,78.0,0.24,0.12,8.8,2.3,1.0,79.986702,97.9,17.28993
Armenia,4.350,3.5,13190.0,0.64,12.0,9.0,76.0,0.20,0.12,6.0,1.6,2.0,51.001419,99.6,12.32348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,6.485,2.8,20590.0,0.95,13.0,9.0,78.0,0.20,0.14,6.5,1.8,1.0,64.605240,98.1,15.68606
Uzbekistan,6.003,5.1,7110.0,0.51,23.0,5.0,75.0,0.29,0.05,11.0,2.5,1.0,17.201700,99.4,11.98919
Vietnam,5.360,3.9,7230.0,0.34,16.0,6.0,74.0,0.23,0.08,14.0,2.1,1.0,30.477739,93.4,10.26081
Zambia,5.129,5.0,3500.0,0.44,37.0,6.0,64.0,0.44,0.02,42.0,4.7,1.0,2.247310,61.4,8.11281
Zimbabwe,4.610,4.0,3350.0,0.32,33.0,8.0,61.0,0.42,0.03,47.0,3.9,2.0,5.905600,83.6,11.63768

In [10]:
#Completed post-secondary (%)
#not used because of fewer countries

#selects the maximum value for each country
cmplt_post_sec = cmplt_post_sec.groupby('Country').max()
cmplt_post_sec = cmplt_post_sec[["Completed Post-Secondary (%)"]]
cmplt_post_sec

               Completed Post-Secondary (%)
Country
Albania                                12.9
Andorra                                32.7
Armenia                                47.0
Australia                              46.5
Austria                                28.4
...                                     ...
United States                          37.4
Uruguay                                14.9
Venezuela                              24.9
Vietnam                                12.1
Zimbabwe                                9.1

[122 rows x 1 columns]

In [11]:
#mod_data = pd.concat([mod_data,cmplt_post_sec],axis=1).dropna()
#mod_data

In [12]:
#Completed tertiary education (%)
#dataset not used because of fewer countries

#selects the maximum value for each country
cmplt_tertiary = cmplt_tertiary.groupby('Countries').max()
cmplt_tertiary = cmplt_tertiary[['Completed Tertiary']]
cmplt_tertiary

             Completed Tertiary
Countries
Afghanistan                3.65
Albania                    3.51
Algeria                    6.66
Argentina                  5.77
Armenia                   15.03
...                         ...
Venezuela                  2.97
Vietnam                    3.27
Yemen                      1.50
Zambia                     0.79
Zimbabwe                   2.01

[144 rows x 1 columns]

In [13]:
#mod_data = pd.concat([mod_data,cmplt_tertiary],axis=1).dropna()
#mod_data

In [14]:
#Human freedom index

#selects the maximum value for each country
human_freedom = human_freedom.groupby('countries').max()
#renames the column
human_freedom = human_freedom.rename(columns={'hf_score': "Human Freedom Score"})
#only keeps the relevant column
human_freedom = human_freedom["Human Freedom Score"]
human_freedom

countries
Albania      7.84
Algeria      5.29
Angola       5.89
Argentina     7.1
Armenia      7.53
             ...
Venezuela    5.27
Vietnam       6.4
Yemen         5.4
Zambia       6.92
Zimbabwe     5.73
Name: Human Freedom Score, Length: 162, dtype: object

In [15]:
#combines the datasets
mod_data = pd.concat([mod_data,human_freedom],axis=1).dropna()
mod_data

,Happiness Score,Household Size,Income Per Capita,Percent Urban,Births Per 1000,Deaths Per 1000,Life Expectancy at Birth,Percent Young (<15),Percent Old (>65),Infant Mortality Rate,Fertility Rate,Target Class,"Gross enrolment ratio, tertiary",Literacy Rate,"School life expectancy, primary to tertiary, both sexes (years)",Human Freedom Score
Albania,4.959,3.7,13820.0,0.61,10.0,8.0,79.0,0.17,0.14,8.9,1.8,2.0,62.706848,96.8,15.80048,7.84
Angola,4.033,4.8,6780.0,0.63,44.0,9.0,61.0,0.48,0.02,66.0,6.1,2.0,9.923570,70.4,10.35037,5.89
Argentina,6.574,3.3,22470.0,0.92,17.0,8.0,78.0,0.24,0.12,8.8,2.3,1.0,79.986702,97.9,17.28993,7.1
Armenia,4.350,3.5,13190.0,0.64,12.0,9.0,76.0,0.20,0.12,6.0,1.6,2.0,51.001419,99.6,12.32348,7.53
Australia,7.284,2.5,49440.0,0.86,13.0,6.0,85.0,0.19,0.16,3.1,1.7,0.0,86.554550,99.0,20.69058,8.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,7.119,2.6,63780.0,0.82,12.0,9.0,79.0,0.18,0.16,5.7,1.7,0.0,96.322403,99.0,16.68606,8.46
Uruguay,6.485,2.8,20590.0,0.95,13.0,9.0,78.0,0.20,0.14,6.5,1.8,1.0,64.605240,98.1,15.68606,8.05
Vietnam,5.360,3.9,7230.0,0.34,16.0,6.0,74.0,0.23,0.08,14.0,2.1,1.0,30.477739,93.4,10.26081,6.4
Zambia,5.129,5.0,3500.0,0.44,37.0,6.0,64.0,0.44,0.02,42.0,4.7,1.0,2.247310,61.4,8.11281,6.92
Zimbabwe,4.610,4.0,3350.0,0.32,33.0,8.0,61.0,0.42,0.03,47.0,3.9,2.0,5.905600,83.6,11.63768,5.73

In [16]:
#Economic freedom index

#set the index to country names
economic_freedom = economic_freedom.set_index('Countries')
#only keeps the relevant columns
economic_freedom = economic_freedom["Economic Freedom Summary Index"]
economic_freedom

Countries
Angola                  4.75
Albania                 7.80
United Arab Emirates    7.05
Argentina               5.78
Armenia                 7.92
                        ...
Vietnam                 6.20
Yemen                   5.51
South Africa            6.73
Zambia                  7.19
Zimbabwe                5.12
Name: Economic Freedom Summary Index, Length: 162, dtype: float64

In [17]:
#combines the datasets
mod_data = pd.concat([mod_data,economic_freedom],axis=1).dropna()
mod_data

,Happiness Score,Household Size,Income Per Capita,Percent Urban,Births Per 1000,Deaths Per 1000,Life Expectancy at Birth,Percent Young (<15),Percent Old (>65),Infant Mortality Rate,Fertility Rate,Target Class,"Gross enrolment ratio, tertiary",Literacy Rate,"School life expectancy, primary to tertiary, both sexes (years)",Human Freedom Score,Economic Freedom Summary Index
Albania,4.959,3.7,13820.0,0.61,10.0,8.0,79.0,0.17,0.14,8.9,1.8,2.0,62.706848,96.8,15.80048,7.84,7.80
Angola,4.033,4.8,6780.0,0.63,44.0,9.0,61.0,0.48,0.02,66.0,6.1,2.0,9.923570,70.4,10.35037,5.89,4.75
Argentina,6.574,3.3,22470.0,0.92,17.0,8.0,78.0,0.24,0.12,8.8,2.3,1.0,79.986702,97.9,17.28993,7.1,5.78
Armenia,4.350,3.5,13190.0,0.64,12.0,9.0,76.0,0.20,0.12,6.0,1.6,2.0,51.001419,99.6,12.32348,7.53,7.92
Australia,7.284,2.5,49440.0,0.86,13.0,6.0,85.0,0.19,0.16,3.1,1.7,0.0,86.554550,99.0,20.69058,8.73,8.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,7.119,2.6,63780.0,0.82,12.0,9.0,79.0,0.18,0.16,5.7,1.7,0.0,96.322403,99.0,16.68606,8.46,8.22
Uruguay,6.485,2.8,20590.0,0.95,13.0,9.0,78.0,0.20,0.14,6.5,1.8,1.0,64.605240,98.1,15.68606,8.05,7.25
Vietnam,5.360,3.9,7230.0,0.34,16.0,6.0,74.0,0.23,0.08,14.0,2.1,1.0,30.477739,93.4,10.26081,6.4,6.20
Zambia,5.129,5.0,3500.0,0.44,37.0,6.0,64.0,0.44,0.02,42.0,4.7,1.0,2.247310,61.4,8.11281,6.92,7.19
Zimbabwe,4.610,4.0,3350.0,0.32,33.0,8.0,61.0,0.42,0.03,47.0,3.9,2.0,5.905600,83.6,11.63768,5.73,5.12

In [18]:
#Press Freedom Index

#sets index to country names
press_freedom = press_freedom.set_index("Countries")
#renames the column
press_freedom = press_freedom.rename(columns={"Score 2020.1":"Press Freedom Index"})
#only keeps the relevant column
press_freedom = press_freedom["Press Freedom Index"]
press_freedom

Countries
Afghanistan             37.70
Angola                  33.92
Albania                 30.25
Andorra                 23.23
United Arab Emirates    42.69
                        ...
Kosovo                  29.33
Yemen                   58.25
South Africa            22.41
Zambia                  37.00
Zimbabwe                40.95
Name: Press Freedom Index, Length: 180, dtype: float64

In [19]:
#combines the datasets
mod_data = pd.concat([mod_data,press_freedom],axis=1).dropna()
mod_data

,Happiness Score,Household Size,Income Per Capita,Percent Urban,Births Per 1000,Deaths Per 1000,Life Expectancy at Birth,Percent Young (<15),Percent Old (>65),Infant Mortality Rate,Fertility Rate,Target Class,"Gross enrolment ratio, tertiary",Literacy Rate,"School life expectancy, primary to tertiary, both sexes (years)",Human Freedom Score,Economic Freedom Summary Index,Press Freedom Index
Albania,4.959,3.7,13820.0,0.61,10.0,8.0,79.0,0.17,0.14,8.9,1.8,2.0,62.706848,96.8,15.80048,7.84,7.80,30.25
Angola,4.033,4.8,6780.0,0.63,44.0,9.0,61.0,0.48,0.02,66.0,6.1,2.0,9.923570,70.4,10.35037,5.89,4.75,33.92
Argentina,6.574,3.3,22470.0,0.92,17.0,8.0,78.0,0.24,0.12,8.8,2.3,1.0,79.986702,97.9,17.28993,7.1,5.78,28.78
Armenia,4.350,3.5,13190.0,0.64,12.0,9.0,76.0,0.20,0.12,6.0,1.6,2.0,51.001419,99.6,12.32348,7.53,7.92,28.60
Australia,7.284,2.5,49440.0,0.86,13.0,6.0,85.0,0.19,0.16,3.1,1.7,0.0,86.554550,99.0,20.69058,8.73,8.23,20.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,7.119,2.6,63780.0,0.82,12.0,9.0,79.0,0.18,0.16,5.7,1.7,0.0,96.322403,99.0,16.68606,8.46,8.22,23.85
Uruguay,6.485,2.8,20590.0,0.95,13.0,9.0,78.0,0.20,0.14,6.5,1.8,1.0,64.605240,98.1,15.68606,8.05,7.25,15.79
Vietnam,5.360,3.9,7230.0,0.34,16.0,6.0,74.0,0.23,0.08,14.0,2.1,1.0,30.477739,93.4,10.26081,6.4,6.20,74.71
Zambia,5.129,5.0,3500.0,0.44,37.0,6.0,64.0,0.44,0.02,42.0,4.7,1.0,2.247310,61.4,8.11281,6.92,7.19,37.00
Zimbabwe,4.610,4.0,3350.0,0.32,33.0,8.0,61.0,0.42,0.03,47.0,3.9,2.0,5.905600,83.6,11.63768,5.73,5.12,40.95

In [20]:
#Trust in Government
#dataset not used

#sets the index to country names
trust_in_govt = trust_in_govt.set_index("Entity")
#only keeps the relevant columns
trust_in_govt = trust_in_govt["Share of people who trust their national government"]
trust_in_govt

Entity
Afghanistan    45.195291
Albania        46.444114
Algeria        38.059310
Argentina      31.924071
Armenia        79.742444
                 ...
Uzbekistan     99.219376
Venezuela      35.704270
Yemen          35.107362
Zambia         56.703003
Zimbabwe       52.910583
Name: Share of people who trust their national government, Length: 134, dtype: float64

In [21]:
#mod_data = pd.concat([mod_data,trust_in_govt],axis=1).dropna()
#mod_data

In [22]:
#Gender development index
#datset not used

gender_dev = gender_dev.rename(columns={"2015":"Gender Development Index"})
gender_dev = gender_dev.set_index('Countries')
gender_dev = gender_dev['Gender Development Index']
gender_dev

Countries
Afghanistan    0.609
Albania        0.959
Algeria        0.854
Argentina      0.982
Armenia        0.993
               ...
Venezuela      1.028
Vietnam        1.010
Yemen          0.737
Zambia         0.924
Zimbabwe       0.927
Name: Gender Development Index, Length: 163, dtype: float64

In [23]:
#mod_data = pd.concat([mod_data, gender_dev],axis=1).dropna()
#mod_data

In [24]:
#Gender Inequality Index
#dataset not used

gender_eq = gender_eq.rename(columns={"2015":"Gender Inequality Index"})
gender_eq = gender_eq.set_index('Countries')
gender_eq = gender_eq['Gender Inequality Index']
gender_eq

Countries
Afghanistan    0.667
Albania        0.267
Algeria        0.429
Argentina      0.364
Armenia        0.293
               ...
Vietnam        0.337
Yemen          0.767
Zambia         0.526
Zimbabwe       0.540
NaN              NaN
Name: Gender Inequality Index, Length: 161, dtype: float64

In [25]:
#mod_data = pd.concat([mod_data, gender_eq],axis=1).dropna()
#mod_data

# Export the final dataset

In [26]:
mod_data.to_csv('final_data.csv')